@charset "UTF-8";
.navbar-default .navbar-nav > li > a{
	color:black;
}

.navbar-default .navbar-nav>li>a:hover {
	color: red;
}

.container-fluid {
	padding-left: 1px;
	padding-right: 1px;
}

.col-md-6, .col-md-12, .col-md-4 {
	padding-left: 1px;
	padding-right: 1px;
}

.navbar-brand {
	padding-bottom: 0px;
	padding-top: 2px;
}
/*内容部分css样式*/
.news {
	margin-bottom: 15px;
}
.news a:link{
	font-weight:bold;
}

.author{
	font-size: 13px;
	color:#666;
}

.summary {
	font-size:13px;
}

.describe {
	font-size: 13px;
	text-align: center;
	margin-top: 7px;
	margin-bottom: 7px;
}

.first {
	margin-top: 15px;
	margin-bottom: 15px;
}

.footer {
	border-top: 2px solid #1f7fd2;
	background: rgb(240, 240, 240, .5);
}