@charset "UTF-8";
.header-info {
	width: 200px;
	height: 80px;
	margin: 0px auto;
	color: white;
	line-height: 80px;
	font-size: 26px;
	font-weight: bold;
}

.col-md-3, .col-md-12 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.col-md-12,#nav-page{
	text-align: center;
}

.param label {
	font-weight: normal;
}

.param {
	margin: 20px 0px;
	border: 1px solid #e0e0e0;
}

tr,td{
	word-break: break-all;
	font-size: 13px;
}

.copyright {
	font-size: 13px;
	background: #3a8bc0;
	color: white;
	margin-top: 40px;
	margin-bottom: 20px;
}